@import '~normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 25px 0;
}
h1 {
    text-align: center;
    line-height: 1.5;
    padding-top: 25px;
    font-size: 35px;
}
body {
    color: #000000;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    font-size: 14px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    justify-content: center;
}

th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}
