@import '~normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 25px 0;
}
h1 {
    text-align: center;
    line-height: 1.5;
    padding-top: 25px;
    font-size: 35px;
}
body {
    color: #000000;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    font-size: 14px;
}
main {
    padding: 15px 0;
}
.image-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 200px;
}
.image-wrapper img{
    width: 100%;
    height: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    justify-content: center;
}

th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

.pagination {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__btn {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 50%;
    margin: 0 7px;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pagination__btn-active {
    background-color: gray;
    color: #fff;
}

.loader:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid grey;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

